</div><!--.container-->

<footer class="site-footer">
    <div class="container">
        <div class="row">          
            <div class="footer-navigation medium-column-10 large-column-12">
                <div id="17-3" class="services">
                    <h2>Inne posty<hr></h2>
                    <ul class="services-list row">
                        <li class="medium-column-4">
                            <h3>Kategoria 1</h3>
                            <p>17 Oryginalnych Prezentów</p>
                            <a class="btn-service" href="#">czytaj</a>
                        </li>
                        <li class="medium-column-4">
                            <h3>Kategoria 2</h3>
                            <p>17 Oryginalnych Prezentów</p>
                            <a class="btn-service" href="#">czytaj</a>
                        </li>
                        <li class="medium-column-4">
                            <h3>Kategoria 3</h3>
                            <p>17 Oryginalnych Prezentów.</p>
                            <a class="btn-service" href="#">czytaj</a>
                        </li>
                    </ul>


                </div> <!--.row-->
            </div> <!--.container-->


            </footer>


        </body>
    <script src="js/main.js"></script>
    </html>