<!--.container-->

<footer>
    <div class="container">
        <div class="footer medium-column-4 large-column-4">
            <div class="footer--footer">
                <h3>17 Oryginalnych Prezentów do 20 zł, Które Ucieszą Każdą Panne</h3>
                <p>Czy jesteś tym typem, który uwielbia dawać prezenty? Marysz o tym by wreszcie obdarować wszystkie swoje znajome i przyjaciółki ale nie wiesz jak udźwignie to Twój budżet? Zobacz propozycje prezentów poniżej 20 zł, które idealnie sprawdzą się w przypadku poszukiwań tanich oraz efektywnych upominkow.</p>
            </div>
            <li class="image-container">
                <img src="img/2.jpg" alt="dupa 1">
            </li>

        </div>
        <div class="footer medium-column-4 large-column-4">
            <div class="footer--footer">
                <h3>17 Oryginalnych Prezentów do 20 zł, Które Ucieszą Każdą Panne</h3>
                <p>Czy jesteś tym typem, który uwielbia dawać prezenty? Marysz o tym by wreszcie obdarować wszystkie swoje znajome i przyjaciółki ale nie wiesz jak udźwignie to Twój budżet? Zobacz propozycje prezentów poniżej 20 zł, które idealnie sprawdzą się w przypadku poszukiwań tanich oraz efektywnych upominkow.</p>
            </div>
            <li class="image-container">
                <img src="img/3.jpg" alt="dupa 1">
            </li>

        </div>
        <div class="footer medium-column-4 large-column-4">
            <div class="footer--foter">
                <h3>17 Oryginalnych Prezentów do 20 zł, Które Ucieszą Każdą Panne</h3>
                <p>Czy jesteś tym typem, który uwielbia dawać prezenty? Marysz o tym by wreszcie obdarować wszystkie swoje znajome i przyjaciółki ale nie wiesz jak udźwignie to Twój budżet? Zobacz propozycje prezentów poniżej 20 zł, które idealnie sprawdzą się w przypadku poszukiwań tanich oraz efektywnych upominkow.</p>
            </div>
            <li class="image-container">
                <img src="img/4.jpg" alt="dupa 1">
            </li>

        </div>
    </div>
</footer>
<div class="container">                 
    <div class="footer medium-column-12 large-column-12">       
        <div id="17-3">
             <h2><span>Inne posty</span></h2>
            <ul class="services-list">
                <li class="medium-column-4 large-column-4">
                    <h3>Kategoria 1</h3>
                    <a id="guru3">17 Oryginalnych Prezentów</a>
                    <a id="guru3">17 Oryginalnych Prezentów.</a>
                    <a id="guru3">17 Oryginalnych Prezentów.</a>
                    <a id="guru3">17 Oryginalnych Prezentów.</a>              
                </li>
                <li class="medium-column-4 large-column-4">
                    <h3>Kategoria 2</h3>
                    <a id="guru3">17 Oryginalnych Prezentów</a>
                    <a id="guru3">17 Oryginalnych Prezentów.</a>
                    <a id="guru3">17 Oryginalnych Prezentów.</a>
                    <a id="guru3">17 Oryginalnych Prezentów.</a>               
                </li>
                <li class="medium-column-4 large-column-4">
                    <h3>Kategoria 3</h3>
                    <a id="guru3">17 Oryginalnych Prezentów.</a>
                    <a id="guru3">17 Oryginalnych Prezentów.</a>
                    <a id="guru3">17 Oryginalnych Prezentów.</a>
                    <a id="guru3">17 Oryginalnych Prezentów.</a>               
                </li>
            </ul>
        </div> 
    </div> 
</div>


</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="js/main.js"></script>
</html>