<!--.container-->

<footer>
    <div class="footer">
        <div >            
                <h3>17 Oryginalnych Prezentów do 20 zł, Które Ucieszą Każdą Panne</h3>
                <p>Czy jesteś tym typem, który uwielbia dawać prezenty? Marysz o tym by wreszcie obdarować wszystkie swoje znajome i przyjaciółki ale nie wiesz jak udźwignie to Twój budżet? Zobacz propozycje prezentów poniżej 20 zł, które idealnie sprawdzą się w przypadku poszukiwań tanich oraz efektywnych upominkow.</p>         
                <img src="img/2.jpg" alt="dupa 1">       

        </div>
        <div >            
                <h3>17 Oryginalnych Prezentów do 20 zł, Które Ucieszą Każdą Panne</h3>
                <p>Czy jesteś tym typem, który uwielbia dawać prezenty? Marysz o tym by wreszcie obdarować wszystkie swoje znajome i przyjaciółki ale nie wiesz jak udźwignie to Twój budżet? Zobacz propozycje prezentów poniżej 20 zł, które idealnie sprawdzą się w przypadku poszukiwań tanich oraz efektywnych upominkow.</p>       
                <img src="img/3.jpg" alt="dupa 1">         

        </div>
        <div >         
                <h3>17 Oryginalnych Prezentów do 20 zł, Które Ucieszą Każdą Panne</h3>
                <p>Czy jesteś tym typem, który uwielbia dawać prezenty? Marysz o tym by wreszcie obdarować wszystkie swoje znajome i przyjaciółki ale nie wiesz jak udźwignie to Twój budżet? Zobacz propozycje prezentów poniżej 20 zł, które idealnie sprawdzą się w przypadku poszukiwań tanich oraz efektywnych upominkow.</p>         
                <img src="img/4.jpg" alt="dupa 1">          

        </div>
    </div>
</footer>
              
    <div class="footer">                 
            <ul  class="services-list">
                <li >
                    <h5><span>Kategoria 1</span></h5>
                    <a id="guru3">17 Oryginalnych Prezentów</a>
                    <a id="guru3">17 Oryginalnych Prezentów.</a>
                    <a id="guru3">17 Oryginalnych Prezentów.</a>
                    <a id="guru3">17 Oryginalnych Prezentów.</a>              
                </li>
                <li>
                        <h5><span>Kategoria 2</span></h5>
                    <a id="guru3">17 Oryginalnych Prezentów</a>
                    <a id="guru3">17 Oryginalnych Prezentów.</a>
                    <a id="guru3">17 Oryginalnych Prezentów.</a>
                    <a id="guru3">17 Oryginalnych Prezentów.</a>               
                </li>
                <li>
                       <h5><span>Kategoria 3</span></h5>
                    <a id="guru3">17 Oryginalnych Prezentów.</a>
                    <a id="guru3">17 Oryginalnych Prezentów.</a>
                    <a id="guru3">17 Oryginalnych Prezentów.</a>
                    <a id="guru3">17 Oryginalnych Prezentów.</a>               
                </li>
            </ul>
         
    </div> 



</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="js/main.js"></script>
</html>