<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Prezentowy Guru</title>
        <link rel="stylesheet" href="css/app.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header>
            <div class="container1">              
                <div class="navigation">
                    <div class="container medium-colu-12 large-colu-12">
                        <nav class="menu ">
                            <a id="guru2"> Prezentowy <br> Guru</a>
                            <a id="guru2" href="#17-1">zakladka 1</a>
                            <a id="guru2" href="#17-2">zakladka 2</a>
                            <a id="guru2" href="#17-3">zakladka 3</a> 
                        </nav>
                    </div>
                </div> <!--.nav-->

            </div>
            <div class="container">
                <div class="header medium-column-7 large-column-9">
                    <div class="header medium-column-4 large-column-6">
                        <h1>" 17 Oryginalnych Prezentów do 20 zł, Które Ucieszą Każdą Panne "</h1>
                    </div>
                    <li class="image-container-2">
                        <img src="img/9.jpg" alt="dupa">
                    </li>
                </div>
            </div>
        </header>