<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Prezentowy Guru</title>
        <link rel="stylesheet" href="css/app.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header>
            <div class="container1">              
                <div class="navigation">
                    <div class="container medium-colu-12 large-colu-12">
                        <nav class="menu ">
                            <a id="guru2"> Prezentowy <br> Guru</a>
                            <a id="guru2" href="#17-1">zakladka 1</a>
                            <a id="guru2" href="#17-2">zakladka 2</a>
                            <a id="guru2" href="#17-3">zakladka 3</a> 
                        </nav>
                    </div>
                </div> <!--.nav-->
            </div>          
        </header>