<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Prezentowy Guru</title>
        <link rel="stylesheet" href="css/app.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <section class="navigation">
            <div class="nav-container">
                <div class="nav-brand">                                  
                    <a  href="#!">prezentowy</a>                  
                    <a  href="#!"> Guru</a>                                
                </div>
                <nav>
                    <div class="nav-mobile">        
                        <a id="nav-toggle" href="#!"><span></span></a>
                    </div>   
                    <ul class="nav--list">
                        <li>        
                            <a href="#!">zakładka 1</a>
                            <ul class="nav-dropdown">
                                <li>
                                    <a href="#!">super zakladka 1</a>
                                </li>
                                <li>
                                    <a href="#!">super zakladka 2</a>
                                </li>
                                <li>
                                    <a href="#!">super zakladka 3</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <hr><a href="#!">zakładka 2</a>
                            <ul class="nav-dropdown">
                                <li>
                                    <a href="#!">magnitudes zakladka 1</a>
                                </li>
                                <li>
                                    <a href="#!">magnitudes zakladka 2</a>
                                </li>
                                <li>
                                    <a href="#!">magnitudes zakladka 3</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                           <hr> <a href="#!">zakładka 3</a><hr>
                            <ul class="nav-dropdown">
                                <li>
                                    <a href="#!">extra zakladka 1</a>
                                </li>
                                <li>
                                    <a href="#!">extra zakladka 2</a>
                                </li>
                                <li>
                                    <a href="#!">extra zakladka 3</a>        
                                <hr></li> 
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </section>

