.adwards{
    @include clearfix;
    @include border-box;
    padding-top:7em;
    max-width: $grid-max-width;
    width:100%;
    margin: 0 auto;
    display:inline-block;
    @include desktop{
        width:(100%/$columns * 3);
        position:relative;
        float:right; 
        padding-top:5.5em;
        padding-left:2em;

    }

    h4{

        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.8px;
        color: rgba(0, 0, 0, 0.6);
        font-size: 2.5vw;
        @include phone{
            font-size: 1.72vw;
        }
        @include tablet{
            font-size: 1.3vw;
        }
        @include desktop{
            font-size: 1.1vw;
        }
        @include xxl{
            font-size: 12px;;
        }

    }
    h5{
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;            
        letter-spacing: 4px;
        color: #2b2b2b;
        margin:2em auto;
        font-size: 2.8vw;
        @include phone{
            font-size: 1.765vw;
        }
        @include tablet{
            font-size: 1.25vw;
        }
        @include desktop{
            font-size: 1.01vw;
        }
        @include xxl{
            font-size: 11px;;
        }
    }


    p{
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000000;
        text-transform: none;
        font-size: 3.5vw;
        @include phone{
            font-size: 2.35vw;
        }
        @include tablet{
            font-size: 1.73vw;
        }
        @include desktop{
            font-size: 1.29vw;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical; 
        }
        @include xxl{
            font-size: 1vw;
        }


    }
    // div:nth-of-type(n){
    // }
    .adwards-container{
        display:inline-block;
        padding-bottom: 2em;
        width:100%;        
        img{
            display:block;
            @include grid-images(1, 5%);
            width:33%;
            float:left;
            padding-right:1em;
        }
        p, h4{
            width:67%;
            float:right;
        }
        h4{
            margin-top:.5em;
            line-height: normal;
        }
    }
    .adwards-image{
        position:static;
        margin:0 auto;
        padding:0 0 1em 0;      
        img{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            @include desktop{
                width:100%;
            }
        }
    }
}






