.adwards{
    @include clearfix;
    @include border-box;
    padding-top:7em;
    max-width: $grid-max-width;
    width:100%;
    margin: 0 auto;
    @include desktop{
        width:(100%/$columns * 3);
        position:relative;
        float:left; //zmiena floata w celu obczj
        padding:1em;

    }

    h4{
        font-size: 1.6vw;
        line-height: 250%;
        @include tablet{
            font-size: 1.2vw;
        }
        @include desktop{
            font-size: 1.0vw;
        }
        @include xxl{
            font-size: 0.65vw;
        }
       
    }
    
    p{
        font-size: 2vw;
        text-transform: uppercase;
        @include tablet{
            font-size: 1.4vw;
        }
        @include desktop{
            font-size: 1.2vw;
        }
        @include xxl{
            font-size: 1vw;
        }
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical; 

    }
    // div:nth-of-type(n){
    // }
    .adwards-container{
        display:inline-block;
        padding-bottom: 1em;
        width:100%;        
        img{
            display:block;
            @include grid-images(1, 5%);
            @include border-radius(1.5%);
            width:33%;
            float:left;
            padding-right:1em;
        }
    }
    .adwards-image{
        position:static;
        margin:0 auto;
        img{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            @include desktop{
                width:100%;
            }
        }
    }
}







.adwards-image{
    hover{

    }

    display: block;
    li.image-container{
        padding: .2em;
        float: top;
        list-style: none;

        img {
            display: block;
            max-width: 100%;
            height: auto !important; 
            @include border-radius(10px);
        }
        @include tablet {
            margin-bottom: auto;
            @include grid-images(1, 2%);
            img {

                max-width: 100%;
                @include border-radius(10px);
            }
        }
    }
}