.content { 
    @include clearfix; 
    margin:0 auto;    
    li.image-container{
        float: top;
        list-style: none;
        img {
            display: block;
            max-width: 100%;
            height: auto !important; 
            @include border-radius(10px);
        }
        @include tablet {
            @include grid-images(1, 0);
            img {
                display: block;              
                max-width: 100%;
                height: auto !important; 
                @include border-radius(10px);
            }
        }
    }

}




@include tablet {
    @for $i from 1 through $columns {
        .medium-colum-#{$i} {
            width: 100% / $columns * $i;
        }
    }
}

@include desktop {
    @for $i from 1 through $columns {
        .large-colum-#{$i} {
            width: 100% / $columns * $i;
        }
    }
}

