.content{
    @include clearfix;
    margin:0 auto;
    width:100%;
    padding:0em;
    position:static;  
    @include tablet{
        padding:7em 0 1em 0;
        display:inline-block;
        vertical-align: top;
    }
    @include desktop{
        max-width: (100%/$columns * 8);

    }
    img{
        width:100%;
        height:100%;
        margin:0 auto;
    }
    div:nth-of-type(n){
        padding-bottom: 5em;
        h2{
            padding:.7em;
        }
        @include tablet{
            padding-bottom:0em;
        }
        .btn{
            a{
                text-decoration: underline;
            }
        }
    }

    div:first-of-type{
        h2, h4, p, a{
            display:none!important;
        }
        img{
             order:1!important;
        }
        max-width:100%!important;
        width:100%!important;
        h3{
            padding-top:1em;
            -webkit-line-clamp: 7!important;           
            line-height: 150%;
            font-size:20px;
            @include phone1{
                font-size: 5.5vw;
            }
            @include phone2{
                font-size: 5.2vw;
            }
            @include phone3{
                font-size: 4.75vw;
            }
            @include phone{
                font-size:4.45vw;
            }
            @include phone4{
                font-size: 4.2vw;
            }
            @include phone5{
                font-size: 4vw;
            }
            @include phone6{
                font-size: 3.75vw;
            }
            @include phone7{
                font-size: 3.45vw;
            }
            @include phone8{
                font-size: 3.3vw;
            }
            @include phone9{
                font-size: 3.15vw;
            }          
            @include tablet{
                font-size: 2.85vw;
            }
            @include desktop{
                font-size: 2.55vw;
            }
            @include xxl{
                font-size: 28px;
            }
        }
        @include tablet{
            h3{
                padding:0 .7em;
            }
            display:flex!important;      
            background-color: white!important;
            flex-direction: row!important;
            align-items: center!important;
            height:100%;
            padding:0 0 5em 0!important;
            img{
                max-width:100%!important;
                width:70%!important;
                height:100%!important;
                margin:0 auto!important;
                order:1!important;
            }
        }

    }

    div:nth-of-type(even){
        display:flex;
        align-items: flex-start;
        flex-direction: column;
        h2{
            @include tablet{
                margin:10px 0;
                margin-top: 15px;
            }
        }
        p{
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
        }
        @include tablet{
            width:(100%/$columns * 7);
            text-align: left;
            display:flex;
            float:left;
            flex-direction: column;
            justify-content: center;
            margin:0;
            padding-right:1em;
            padding-bottom: 4em;
            img{
                width:100%;
                height:100%;
            }
        }
    }

    div:nth-of-type(odd){
        display:flex;
        align-items: flex-start;
        flex-direction: column;
        img{ 
            width:100%;
            height:100%;          
            margin-top: 20px;
            margin-bottom: 5px;
            @include desktop{
                margin-top: 10px;
                 margin-bottom: 0px;
            }
            @include xxl{
                margin-top: 15px;
            }
        }
        h2{
            @include tablet{
                margin-bottom: 10px;
                margin-top:0;
            }
        }
        p{
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 6;
        }
        @include tablet{
            max-width: (100%/$columns * 5);
            width:100%;
            text-align: left;
            display:flex;
            flex-direction: column;
            align-items: flex-start;
            margin:0;
            padding-left:1em; 
            padding-bottom: 4em;  
            img, a{
                order:1;
            }
        }
    }

    div:nth-of-type(4){
        @include tablet{
            float:right!important;
            padding-right:0em!important;
            padding-left:1em!important;

        }
    }
    div:nth-of-type(5){
        @include tablet{
            float:right!important;
            padding-right:1em!important;
            padding-left:0em!important;

        }
    }



    div:last-of-type{
        @include border-box; 
        .btn{
            @include button($bg-color, $bg-color, black); 
            padding:0;
        }

        height:100%;
        border: solid;
        border-color: $yellow;
        border-width: 2px;
        width:100%;
        text-align: center!important;
        padding:1em!important;      
        margin:2em auto;
        align-items:center;
        @include tablet{
            max-width:100%;
           width: max-content;
            float:right;  
        }
        a{
            overflow: hidden!important;
            display: -webkit-box!important;
            -webkit-box-orient: vertical!important;
            -webkit-line-clamp: 1!important;
            font-weight: normal!important;
            font-style: normal;
            font-stretch: normal;
            line-height: 2.29;
            letter-spacing: normal;
            color:#1e2b34;
            font-size:14px!important;
            @include phone1{
                font-size: 3.85vw!important;
            }
            @include phone2{
                font-size: 3.5vw!important;
            }
            @include phone3{
                font-size: 3.2vw!important;
            }
            @include phone{
                font-size:2.95vw!important;
            }
            @include phone4{
                font-size: 2.8vw!important;
            }
            @include phone5{
                font-size: 2.7vw!important;
            }
            @include phone6{
                font-size: 2.6vw!important;
            }
            @include phone7{
                font-size: 2.5vw!important;
            }
            @include phone8{
                font-size: 2.4vw!important;
            }
            @include phone9{
                font-size: 2.3vw!important;
            } 
            @include tablet{
                font-size: 2.375vw!important;
                line-height: 1.75;
            }
            @include desktop{
                font-size: 2.2vw!important;
                line-height: 1.33;
            }
            @include xxl{
                font-size: 24px!important;
            }
        }

    }


    p{
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        line-height: 1.42;
        font-size:16px;
        @include phone1{
            font-size:4.4vw;
        }
        @include phone2{
            font-size: 4vw;
        }
        @include phone3{
            font-size: 3.6vw;
        }
        @include phone{
            font-size:3.3vw;
        }
        @include phone4{
            font-size: 3.05vw;
        }
        @include phone5{
            font-size: 2.75vw;
        }
        @include phone6{
            font-size: 2.58vw;
        }
        @include phone7{
            font-size: 2.4vw;
        }
        @include phone8{
            font-size: 2.3vw;
        }
        @include phone9{
            font-size: 2.16vw;
        } 
        @include tablet{
            font-size: 1.675vw;
            line-height: 1.475;
        }
        @include desktop{
            font-size: 1.465vw;
            line-height: 1.5;
        }
        @include xxl{
            font-size: 16px;
        }
    } 

    h3{
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        font-size:18px;
        @include phone1{
            font-size: 5vw;
        }
        @include phone2{
            font-size: 4.7vw;
        }
        @include phone3{
            font-size: 4.4vw;
        }
        @include phone{
            font-size:4.2vw;
        }
        @include phone4{
            font-size: 4.05vw;
        }
        @include phone5{
            font-size: 3.9vw;
        }
        @include phone6{
            font-size: 3.75vw;
        }
        @include phone7{
            font-size: 3.4vw;
        }
        @include phone8{
            font-size: 3.2vw;
        }
        @include phone9{
            font-size: 3.1vw;
        }          
        @include tablet{
            font-size: 2.5vw;
        }
        @include desktop{
            font-size: 2.2vw;
        }
        @include xxl{
            font-size: 24px;
        }
    }

    h2{

        margin:1.5em 0;
        padding:0;       
        text-transform:uppercase;
        font-family: $paragraph-font-family;
        color:#2b2b2b;
        background: $bg-footer-color;
        font-weight: normal;
        letter-spacing: 3.6px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        font-size:8px;
        @include phone1{
            font-size: 2.2vw;
        }
        @include phone2{
            font-size: 2.05vw;
        }
        @include phone3{
            font-size: 1.9vw;
        }
        @include phone{
            font-size:1.85vw;
        }
        @include phone4{
            font-size: 1.7vw;
        }
        @include phone5{
            font-size: 1.55vw;
        }
        @include phone6{
            font-size: 1.4vw;
        }
        @include phone7{
            font-size: 1.3vw;
        }
        @include phone8{
            font-size: 1.25vw;
        }
        @include phone9{
            font-size: 1.2vw;
        }          
        @include tablet{           
            font-size: 1.15vw;           
        }
        @include desktop{
            font-size: 1.0037vw;        
        }
        @include xxl{
            font-size: 11px;  
        }
    }


    h4{
        color:rgba(0, 0, 0, 0.6);
        font-weight:bold;
        text-transform: none;
        letter-spacing: 0.8px;        
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        padding:10px 0;
        font-size:10px;
        @include phone1{
            font-size: 2.8vw;
        }
        @include phone2{
            font-size: 2.5vw;
        }
        @include phone3{
            font-size: 2.3vw;
        }
        @include phone{
            font-size:2.15vw;
        }
        @include phone4{
            font-size: 2.05vw;
        }
        @include phone5{
            font-size: 1.9vw;
        }
        @include phone6{
            font-size: 1.7vw;
        }
        @include phone7{
            font-size: 1.65vw;
        }
        @include phone8{
            font-size: 1.5vw;
        }
        @include phone9{
            font-size: 1.45vw;
        }          
        @include tablet{
            font-size: 1.3vw;
            letter-spacing: 0.9px; 
        }
        @include desktop{
            font-size: 1.095vw;
            letter-spacing: 1px; 
        }
        @include xxl{
            font-size: 12px;
        }

    }


    a{
        font-family: $heading-font-family;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1px;
        color: #403f55;
        font-size:12px!important;
        @include phone1{
            font-size: 3.3vw!important;
        }
        @include phone2{
            font-size: 3vw!important;
        }
        @include phone3{
            font-size: 2.8vw!important;
        }
        @include phone{
            font-size:2.55vw!important;
        }
        @include phone4{
            font-size: 2.35vw!important;
        }
        @include phone5{
            font-size: 2.2vw!important;
        }
        @include phone6{
            font-size: 2vw!important;
        }
        @include phone7{
            font-size: 1.9vw!important;
        }
        @include phone8{
            font-size: 1.8vw!important;
        }
        @include phone9{
            font-size: 1.7vw!important;
        } 
        @include tablet{
            font-size: 1.5vw!important;
            letter-spacing: 1.1px;
        }
        @include desktop{
            font-size: 1.28vw!important;
            letter-spacing: 1.2px;
        }
        @include xxl{
            font-size: 14px!important;
        }
    } 
}