.content{
    margin:0 auto;
    max-width: (100%/$columns * 9);
    width:100%;
    padding:0;
    position:relative;
    display: inline-block;
    div:first-of-type{
        width:100%;         
        padding:1em;
        img{
            width:100%;
            margin:0 auto;
        }
    }

    div:nth-of-type(n+3){
        width:(100%/$columns * 7); 
        padding:1em;

        img{
            width:100%;
            margin:0 auto;
        }
    }

    div:nth-child(even){
        width:(100%/$columns * 5);
        padding:1em;
        img{
            width:100%;
            margin:0 auto;
        }
    }
}