.footer{
    @include clearfix;
    width:90%; 
    max-width:$grid-max-width;
    margin:0 auto;
    padding-bottom: 2em;
    img{
        width:100%;
    }

    @include tablet{
        width:95%;
    }
    @include desktop{
        width:100%;
    }
    div:nth-of-type(n){
        display:block;
        width:100%;      
        margin:0 auto;
        img{
            width:100%;
            margin:0 auto;
        }
        @include tablet{
            display:inline-block;
            vertical-align:top;
            width:(100%/$columns * 4);

        }
    }
    div:first-of-type{
        padding-right:1em;
    }
    div:last-of-type{
        padding-left:1em;
    }



    .services-list{      
        background-color: $bg-color;
        list-style: none;
        display:block;
        li:nth-of-type(n){
            width: 100%;
              
            @include tablet{
            display: inline-block;
            vertical-align:top;
            width:(100%/$columns * 4);
            }
        }
        margin: 0em;
        padding:0;
        a{
            color: $paragraph-text-color;
            text-decoration: none;
            display:none;
            width: 100%;
            @include tablet{
            display: block;
            vertical-align:top;
            padding:.1em;
            }

        }


    }
    
    //rozmiary czcionek
    
        p{
        font-size: 2.3vw;
        @include tablet{
            font-size: 1.35vw;
        }
        @include desktop{
            font-size: 1.1vw;
        }
        @include xxl{
            font-size: 1vw;
        }
    } 
  
  
    h3{
         font-size: 2.7vw;
        @include tablet{
            font-size: 1.65vw;
        }
        @include desktop{
            font-size: 1.35vw;
        }
        @include xxl{
            font-size: 1.33vw;
        }
    }
     a{
       
        @include tablet{
            font-size: 1.8vw;
        }
        @include desktop{
            font-size: 1.25vw;
        }
        @include xxl{
            font-size: 1vw;
        }
    } 
    h5 span{
        text-transform: uppercase;
        background-color: $bg-footer-color;
       
    }
}
