.footer{
    @include clearfix;
    @include border-box;
    width:95%; 
    max-width:$grid-max-width;
    margin:2em auto;
    padding-top:2em;
    display: block;

    @include desktop{
        width:100%;
    }
    div:nth-of-type(n){
        display:inline-block!important; 
        width:100%;      
        margin:0 auto;
        padding: 4em 0;
        h4, h3 {
            display:inline-block;
            float:right;
            width:67%;
        }
        h2, p{
            display:none;
        }
        img{
            display:block;
            @include grid-images(1, 1%);
            width:33%;
            float:top;
            margin: 1em auto;

        }
        @include tablet{
            display:inline-block;
            vertical-align:top;
            width:(100%/$columns * 4);
            padding-bottom: 2em!important;
            padding-top: 2em!important;
            h4, h3 {

                float:none;
                width:67%;
            }
            h2, p{
                display:block;
            }
            img{
                width:100%;
            }

        }
    }
    div:first-of-type{       
        padding:3em 0;
        @include tablet{
            padding-right: 1em;
            padding-left: 1em;
        }
    }
    div:nth-of-type(2){
        @include tablet{
            padding:0 1em;
        }
    }
    div:last-of-type{
        @include tablet{
            padding-left:1em;
            padding-right:1em;
        }
    }





    //rozmiary czcionek

    h2{
        padding:0 .3em;      
        width:15%;
        text-align: center;
        text-transform:uppercase;
        color:$nav-background;
        background: #ffffff;
        font-weight: normal;    
        font-size: 1.9vw;  
        font-weight: normal;
        letter-spacing: 3.6px;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        @include phone{
            font-size: 1.5vw;
        }
        @include tablet{           
            font-size: 1.15vw;    
            width:38%;
        }
        @include desktop{
            font-size: 1.0037vw;  
            width:30%;
        }
        @include xxl{
            font-size: 11px;  
            width:25%;

        }
    }


    h4{
        color:rgba(0, 0, 0, 0.6);
        font-weight:bold;
        text-transform: none;
        letter-spacing: 0.8px;        
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        padding:1em 0;
        font-size:10px;
        @include phone1{
            font-size: 2.8vw;
        }
        @include phone2{
            font-size: 2.5vw;
        }
        @include phone3{
            font-size: 2.3vw;
        }
        @include phone{
            font-size:2.1vw;
        }
        @include phone4{
            font-size: 1.9vw;
        }
        @include phone5{
            font-size: 1.75vw;
        }
        @include phone6{
            font-size: 1.65vw;
        }
        @include phone7{
            font-size: 1.55vw;
        }
        @include phone8{
            font-size: 1.5vw;
        }
        @include phone9{
            font-size: 1.45vw;
        }          
        @include tablet{
            font-size: 1.3vw;
            letter-spacing: 0.9px; 
        }
        @include desktop{
            font-size: 1.095vw;
            letter-spacing: 1px; 
        }
        @include xxl{
            font-size: 12px;
        }

    }

    p{
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        line-height: 1.42;
        font-size: 3vw;
        @include phone{
            line-height: 1.45;
            font-size: 2.2vw;
        }
        @include tablet{
            font-size: 1.675vw;
            line-height: 1.475;
        }
        @include desktop{
            font-size: 1.465vw;
            line-height: 1.5;
        }
        @include xxl{
            font-size: 16px;
        }
    } 



    h3{
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        font-size:14px;
        @include phone1{
            font-size: 3.85vw;
        }
        @include phone2{
            font-size: 3.5vw;
        }
        @include phone3{
            font-size: 3.2vw;
        }
        @include phone{
            font-size:3vw;
        }
        @include phone4{
            font-size: 2.85vw;
        }
        @include phone5{
            font-size: 2.65vw;
        }
        @include phone6{
            font-size: 2.5vw;
        }
        @include phone7{
            font-size: 2.4vw;
        }
        @include phone8{
            font-size: 2.3vw;
        }
        @include phone9{
            font-size: 2.25vw;
        }          
        @include tablet{
            font-size: 2.4vw;
        }
        @include desktop{
            font-size: 2.2vw;
        }
        @include xxl{
            font-size: 24px;
        }
    }
    a{
        font-size: 2.5vw;
        @include tablet{
            font-size: 1.8vw;
        }
        @include desktop{
            font-size: 1.25vw;
        }
        @include xxl{
            font-size: 1vw;
        }
    } 
    h5 span{
        text-transform: uppercase;
        background-color: $bg-footer-color;
        padding:0 1em;


    }
    h5{
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;            
        letter-spacing: 4px;
        color: #2b2b2b;
        margin:2em auto;
        font-size:11px;
        @include phone1{
            font-size: 3vw;
        }
        @include phone2{
            font-size: 2.7vw;
        }
        @include phone3{
            font-size: 2.5vw;
        }
        @include phone{
            font-size:2.3vw;
        }
        @include phone4{
            font-size: 2.1vw;
        }
        @include phone5{
            font-size: 1.9vw;
        }
        @include phone6{
            font-size: 1.78vw;
        }
        @include phone7{
            font-size: 1.65vw;
        }
        @include phone8{
            font-size: 1.58vw;
        }
        @include phone9{
            font-size: 1.5vw;
        }          
        @include tablet{
            font-size: 1.25vw;
        }
        @include desktop{
            font-size: 1.01vw;
        }
        @include xxl{
            font-size: 11px;;
        }
    }

    ul{  
        width:100%;
        margin:0 auto;
        max-width:$grid-max-width;
        @include xxl{
            max-width:$grid-max-width2;
        }
        text-align: left;
        list-style: none;
        text-decoration: none;
        display:block;

        a{
            text-decoration: none;
            font-family: $heading-font-family;            
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 1.2px;
            color: #403f55;
            font-size: 2.8vw;
            @include phone{
                font-size: 1.765vw;
            }
            @include tablet{
                font-size: 1.5vw;
            }
            @include desktop{
                font-size: 1.3vw;
            }
            @include xxl{
                font-size: 14px;;
            }
        }
        li{ 
            h5{
                border-bottom: none;
                @include tablet{
                    border-bottom: 3px solid $yellow; 
                }
            }
            border-bottom: solid;
            border-width: 1px;
            width:95%;
            margin:0 auto;
            border-color: #d8d8d8;
            @include tablet{
                border-bottom: none;
            }

            padding:1em 0;
            ul{ 
                display:block;
                li{ 
                    border-bottom: none;
                    margin:0 auto;
                    line-height: 3em;
                    padding:1em 1em;
                    display:block;
                }
            }
            @include tablet{
                display:inline-block;
                width:(100%/$columns * 4);
                ul{

                    display:block!important;
                    li{
                        border-bottom: none;
                        padding:1em 1em;
                        display:block;
                        width:100%;
                        line-height: normal;

                    }
                }
            }
        }
        h5 span{
            background-color: #ffffff;
        }

    }

}
