.container{
     @include clearfix;
    position: relative;;   
    padding: 0;
    margin: 0 auto;
    width: 100%;
    max-width:$grid-max-width;
   
    @include tablet {
        width: 100%;
        max-width: $grid-max-width;
    }
   
}