.container{
     @include clearfix;
    position: static;   
    padding: 0;
    margin: 0 auto;
    width: 90%;
    max-width:$grid-max-width;  
    @include tablet{
        width:95%;
    }
    @include desktop{
        width:100%;
    }
}