.container{
     @include clearfix;
    position: static;   
    padding: 0;
    margin: 0 auto;
    max-width:$grid-max-width;  
    padding-bottom: 5em;   
    @include tablet{
        width:95%;
        padding: 0;
    }
    @include desktop{
        width:100%;
    }
}