.header{
    @include clearfix;  
      .div{
        clear:left;
    }
    text-align: center;
 
    h1{
        font-size: 2rem;
       margin-top:10%;
    }
 
    li.image-container{
        float: right;
        list-style: none;
        img {
            display:block;
            max-width: 100%;
            @include border-radius(10px);
        }
        @include tablet {
            @include grid-images(1, 0%);
            img {
                display:flex;
                max-width: 100%;
                @include border-radius(10px);
            }
        }
    }
    &:after {
        @include clearfix;
    }
}
