*,
*:after,
*:before {
    margin:0;
    padding:0;
    @include border-box;
}


body {
    background-color: bg-color;
    font-size: $paragraph-font-size;
    color:  $paragraph-text-color;
    font-family: $paragraph-font-family;
    text-style: none;
    min-width: 303px!important;
    width:auto;
    overflow-y:scroll;
}

footer {
    background-color: $bg-footer-color;
}

img {
    @include border-radius(2px);
}

h5 {
    width: 100%; 
    text-align:left; 
    border-bottom: 1.5px solid $yellow; 
    line-height: 0.1em;
    margin: 10px 0 20px;   
    font-family: $paragraph-font-family;
    text-transform: uppercase;
    letter-spacing: .2em;


} 

h5 span { 
    background:#fff; 
    padding:0;
    padding-right: 1em;
}

