.side-post{
    width:100%;
    @include tablet{
        width:(100%/$columns * 4);
    }
    max-width: 100%;
    display:inline-block;
    margin:0 auto;
    padding-left: 4em;
    padding-top:5em;
    div:first-child{
        display: inline-grid;
        text-align: left;
        width:100%; 
        position:relative;
        grid-column: 1fr 2fr;
        grid-row: 1fr 2fr;
        grid-row-gap: 1em;
        margin:1em 0;
        img{
            display:block;  
            margin-top: 1em;
            margin-left: 1em;
            @include grid-images(1, 5%);
            @include border-radius(50%);
            width:100%;
            padding-right:1em;
        }
        h2{
            grid-row-start: 1;
            grid-column-start: 2;
            margin:auto auto;
            text-align: center;

        }
        p{
            margin:0 1em;
            margin-bottom: 1em;
            grid-row-start: 2;
            grid-column-start: 1;
            grid-column-end: 3;
            text-transform: none;
            -webkit-line-clamp: 4;
        }
        border: solid;
        border-width: 2px;
        border-color: $yellow;
    }

    .adwards-side{
        @include clearfix;
        @include border-box;
        max-width: $grid-max-width;
        width:100%;       
        margin: 0 auto;
        display:inline-block;
        @include desktop{            
            position:relative;
            float:right;      
        }


        .adwards-container{
            display:inline-block;
            width:100%;   
            border:none!important;
            padding:1em 0;
            img{
                display:block;
                @include grid-images(1, 5%);
                width:33%;
                float:left;
                padding-right:1em;
                margin-top: 0;
                margin-left: 0;
                @include border-radius(0);
            }
        } 
        .adwards-image{
            position:static;
            margin:0 auto;
            padding:1em 0;;      
            img{
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 100%;
            }
        }
    }

    ul{  
       
        width:100%;
        margin:0 auto;      
        text-align: left;
        list-style: none;
        text-decoration: none;
        display:block;

        a{
            text-decoration: none;
            font-weight: normal;
            color:$nav-background;
            line-height: 2em;
        }
        li{   
            border-bottom: solid;
            border-width: 1px;
            width:95%;
            margin:0 auto;
            border-color: #d8d8d8;
            padding:1em 0;
            ul{ 
                display:none;
                li{ 
                    border-bottom: none;
                    margin:0 auto;
                    line-height: 3em;
                    padding:.45em 1em;
                    display:block;
                }
            }
            @include tablet{               
                ul{                    
                    li{
                        border-bottom: none;
                        padding:.3em 1em;
                        display:block;
                        width:100%;
                        line-height: normal;

                    }
                }
            }
        }


    }


    h2{
        font-size: 2.5vw;
        font-weight: normal;
        @include tablet{
            font-size:1.8vw;
        }
        @include desktop{
            font-size: 1.6vw;
        }
        @include xxl{
            font-size: 1.5vw;
        }
    }

    h4{

        color:rgba(0, 0, 0, 0.6);
        font-weight:bold;
        text-transform: none;
        letter-spacing: 1px;
        font-size: 1.6vw;
        line-height: 250%;
        @include tablet{
            font-size: 1.2vw;
        }
        @include desktop{
            font-size: 1.0vw;
        }
        @include xxl{
            font-size: 0.65vw;
        }

    }
    h5{
        font-size: 2vw;
        font-weight: normal;
        margin:2em auto;
        @include tablet{
            font-size: 1.45vw;
        }
        @include desktop{
            font-size: 1.25vw;
        }
        @include xxl{
            font-size: 0.85vw;
        }
    }

    a{
        font-size: 2vw;
        text-transform: uppercase;
        @include tablet{
            font-size: 1.4vw;
        }
        @include desktop{
            font-size: 1.2vw;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical; 
        }
        @include xxl{
            font-size: 1vw;
        }
    }
    p{
        font-size: 2vw;
        text-transform: uppercase;
        @include tablet{
            font-size: 1.4vw;
        }
        @include desktop{
            font-size: 1.2vw;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical; 
        }
        @include xxl{
            font-size: 1vw;
        }
    }
}





