.side-post{
    width:100%;
    @include tablet{
        width:(100%/$columns * 4);
        padding-left: 4em;
    }
    max-width: 100%;
    display:inline-block;
    margin:0 auto;
    padding-top:5em;

    div:first-child{
        display: inline-grid;
        text-align: left;
        width:100%; 
        position:relative;       
        grid-template-columns: 1fr 3fr;       
        grid-row: 1 / 2;
        grid-row-gap: 1em;
        margin:1em 0;
        padding:1em;
        padding-bottom: 2em;
        @include tablet{
            padding-bottom: 1.5em;
        }
        border: solid;
        border-width: 2px;
        border-color: $yellow;

        img{
            display:block;  
            margin-top: 3em;
            margin-left: 3em;
            margin-right: 3em;            
            border-radius:50%;
            width:100%;
            grid-column-start: 1;
            grid-column-end: 1;
            @include tablet{
                margin-top: 1em;
                margin-left: 1em;
                margin-right: 1em; 
            }


        }
        h2{
            grid-row-start: 1;
            grid-column-start: 2;
            grid-column-end: 3;
            margin:auto 0;
            padding-left: 1em;
            text-align:left;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.18;
            letter-spacing: normal;
            color: #000000;
            font-weight: normal;
            font-size:28px;
            @include phone1{
                font-size: 7.8vw;
            }
            @include phone2{
                font-size: 7vw;
            }
            @include phone3{
                font-size: 6.3vw;
            }
            @include phone{
                font-size:5.8vw;
            }
            @include phone4{
                font-size: 5.3vw;
            }
            @include phone5{
                font-size: 4.8vw;
            }
            @include phone6{
                font-size: 4.45vw;
            }
            @include phone7{
                font-size: 4.2vw;
            }
            @include phone8{
                font-size: 3.95vw;
            }
            @include phone9{
                font-size: 3.8vw;
            }          
            @include tablet{
                padding:0 .5em;
                text-align: center;
                margin:auto auto;
                font-size:3.2vw;
            }
            @include desktop{
                font-size: 2.55vw;
            }
            @include xxl{
                font-size: 28px;
            }        

        }
        p{
            font-family: $paragraph-font-family;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            margin:0 1em;
            margin-bottom: 1em;
            grid-row-start: 2;
            grid-column-start: 1;
            grid-column-end: 3;
            text-transform: none;
            -webkit-line-clamp: 4;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.19;
            letter-spacing: 0.5px;
            color: #2b2b2b;
            font-size:16px;
            @include phone1{
                font-size:4.4vw;
            }
            @include phone2{
                font-size: 4vw;
            }
            @include phone3{
                font-size: 3.6vw;
            }
            @include phone{
                font-size:3.3vw;
            }
            @include phone4{
                font-size: 3.05vw;
            }
            @include phone5{
                font-size: 2.75vw;
            }
            @include phone6{
                font-size: 2.58vw;
            }
            @include phone7{
                font-size: 2.4vw;
            }
            @include phone8{
                font-size: 2.3vw;
            }
            @include phone9{
                font-size: 2.16vw;
            } 
            @include tablet{
                padding:0 .5em;
                text-align: left;
                margin:auto auto;
                font-size:1.8vw;
            }
            @include desktop{
                font-size: 1.465vw;
            }
            @include xxl{
                font-size: 16px;
            } 
        }        
    }


    .adwards-side{
        @include clearfix;
        @include border-box;
        max-width: $grid-max-width;
        width:100%;       
        margin: 0 auto;
        display:inline-block;
        @include desktop{            
            position:relative;
            float:right;      
        }


        .adwards-container{
            display:inline-block;
            position: static;
            width:100%;   
            border:none!important;
            padding:1em 0;
            img{
                display:block;
                @include grid-images(1, 5%);
                width:33%;
                float:left;
                margin-top: 0;
                margin-left: 0;
                @include border-radius(0);
            }
            p, h4{
                width:67%;
                float:right;
                padding-left: 1em;
            }
            h4{    
                vertical-align: bottom;
            }
        } 
        .adwards-image{
            position:static;
            margin:0 auto;
            padding:1em 0;;      
            img{
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 100%;
            }
        }
    }

    ul{  

        width:100%;
        margin:0 auto;      
        text-align: left;
        list-style: none;
        text-decoration: none;
        display:block;

        a{
            text-decoration: none;
            font-weight: normal;
            color:$nav-background;
            line-height: 2em;
        }
        li{   
            border-bottom: solid;
            border-width: 1px;
            width:100%;
            margin:0 auto;
            border-color: #d8d8d8;
            padding:1em 0;
            ul{ 
                display:none;
                li{ 
                    border-bottom: none;
                    margin:0 auto;
                    line-height: 3em;
                    padding:.45em 1em;
                    display:block;
                }
            }
            @include tablet{               
                ul{                    
                    li{
                        border-bottom: none;
                        padding:.3em 1em;
                        display:block;
                        line-height: normal;

                    }
                }
            }
        }


    }


    h2{
        font-family: $paragraph-font-family;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.63;
        letter-spacing: normal;
        color: #000000;
        font-size:16px;
        @include phone1{
            font-size:4.4vw;
        }
        @include phone2{
            font-size: 4vw;
        }
        @include phone3{
            font-size: 3.6vw;
        }
        @include phone{
            font-size:3.3vw;
        }
        @include phone4{
            font-size: 3.05vw;
        }
        @include phone5{
            font-size: 2.75vw;
        }
        @include phone6{
            font-size: 2.58vw;
        }
        @include phone7{
            font-size: 2.4vw;
        }
        @include phone8{
            font-size: 2.3vw;
        }
        @include phone9{
            font-size: 2.16vw;
        } 
        @include tablet{
            font-size:1.8vw;
        }
        @include desktop{
            font-size: 1.6vw;
        }
        @include xxl{
            font-size: 1.5vw;
        }
    }

    h4{
        text-transform: uppercase; 
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: .8px;
        color: rgba(0, 0, 0, 0.6);
        font-size:10px;
        @include phone1{
            font-size: 2.8vw;
        }
        @include phone2{
            font-size: 2.5vw;
        }
        @include phone3{
            font-size: 2.3vw;
        }
        @include phone{
            font-size:2.1vw;
        }
        @include phone4{
            font-size: 1.9vw;
        }
        @include phone5{
            font-size: 1.75vw;
        }
        @include phone6{
            font-size: 1.65vw;
        }
        @include phone7{
            font-size: 1.55vw;
        }
        @include phone8{
            font-size: 1.5vw;
        }
        @include phone9{
            font-size: 1.45vw;
        }          
        @include tablet{
            font-size: 1.3vw;
            letter-spacing: .93px;
        }
        @include desktop{
            font-size: 1.1vw;
            letter-spacing: 1px;
        }
        @include xxl{
            font-size: 12px;
        }

    }
    h5{
        margin:2em auto;
        font-size: 11px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;

        letter-spacing: 5px;
        color: #2b2b2b;
    }

    a{
        font-size: 2vw;
        text-transform: uppercase;
        @include tablet{
            font-size: 1.4vw;
        }
        @include desktop{
            font-size: 1.2vw;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical; 
        }
        @include xxl{
            font-size: 1vw;
        }
    }
    p{
        font-family: $heading-font-family;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000000;
        font-size:14px;
        @include phone1{
            font-size: 3.85vw;
        }
        @include phone2{
            font-size: 3.45vw;
        }
        @include phone3{
            font-size: 3.2vw;
        }
        @include phone{
            font-size:2.92vw;
        }
        @include phone4{
            font-size: 2.7vw;
        }
        @include phone5{
            font-size: 2.5vw;
        }
        @include phone6{
            font-size: 2.3vw;
        }
        @include phone7{
            font-size: 2.2vw;
        }
        @include phone8{
            font-size: 2.05vw;
        }
        @include phone9{
            font-size: 1.95vw;
        }          
        @include tablet{
            font-size: 1.75vw;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical; 
        }
        @include desktop{
            font-size: 1.47vw;
        }
        @include xxl{
            font-size: 16px;
        }
    }
}






